<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Quizz</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/style.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<section class="container" id="app">
			<div class="row">
				<div class="col-12">
					<h1><a href="/">Quizz</a></h1>
				</div>
				<div class="col-12">
					<section class="question-container">
						<article class="card" v-for="(q, order) in questions" :key="q.id"  v-show="q.id==shownNo">
							<header class="card-header"><h4>Question {{q.id}}</h4></header>
							<img class="card-img-top" :src="q.image" :alt="q.ask" width="150">
							<div class="card-body">
								<h5 class="card-title">{{q.ask}}</h5>
								<ul class="list-group list-group-flush">
									<li class="list-group-item" v-for="(option, index) in q.options">

										<input type="radio" :name="'question_'+q.id" :value="option" class="form-check-input" :id="'question_' + q.id + '_' + index" v-model="inputAnswer">
	   									<label class="form-check-label" :for="'question_' + q.id + '_' + index">{{option}}</label>

									</li>
								</ul>
								<br>
								<button type="button" class="btn btn-primary" v-if="shownNo < quizzCount"  @click="nextQuesiton(order)">Next question</button>
								<button type="button" class="btn btn-info" v-if="shownNo == quizzCount" @click="nextQuesiton(order)">See results</button>
							</div>
						</article>
					</section>
				</div>
			</div>

		</section>
	</body>
	<script>
		var app = new Vue({
			el: '#app',
			data() {
				return {
					questions: null,//list of questions
					shownNo: 1,//the order of the shown question
					quizzCount: null,//total number of the quizz
					rightAnswerCount: 0,//hold number of right answer
					inputAnswer: null,//the answer made by users
				}
			},
			created: function(){
				//this.shownNo = 1;
				this.getQuestions();
			},
			methods: {
				getQuestions: function(){
					var $this = this; //have to assign instance of Vue to $this, otherwise inside axios, this refers to axios instance
					axios.get('/data/questions.json')
						.then(function(response){
							$this.questions = response.data;
							$this.quizzCount = response.data.length;
							//console.log($this.questions);
					});
				},

				nextQuesiton: function(questionOrder){
					this.shownNo++;
					this.countResult(questionOrder);
					//this.inputAnswer = null;
					if( this.shownNo > this.quizzCount ) {
						console.log("Right answer: " + this.rightAnswerCount);
					}

				},

				countResult: function(order){
					var question = this.questions[order];
					if( question.answer == this.inputAnswer ) {
						this.rightAnswerCount++;
					}

					//console.log(this.rightAnswerCount);
				}
			},
		});
	</script>
</html>
